<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangchen.mapper.CustomerLogMapper">

    <insert id="insertCustomerLog" parameterType="com.wangchen.pojo.CustomerLog">
        INSERT INTO CustomerLogs (UserID, OperationType, operTime)
        VALUES (#{userID}, #{operationType}, #{operTime})
    </insert>

</mapper>
